@media screen and (min-width: $breakpoint-sm) {
	.footer {
		&__title {
			font-size: 38px;
		}

		&__subtitle {
			font-size: 14px;
		}

		&__text {
			font-size: 14px;
		}
	}
}

@media screen and (min-width: $breakpoint-lg) {
	.footer {
		&__title {
			font-size: 56px;
		}

		&__subtitle {
			font-size: 18px;
		}

		&__text {
			font-size: 18px;
		}
	}
}
