@media screen and (min-width: $breakpoint-sm) {
	.about {
		&__title {
			font-size: 44px;
		}
	}
}

@media screen and (min-width: $breakpoint-md) {
	.about {
		&-container {
			height: calc(700px - 10vh);
		}
		&__title {
			max-width: 980px;
			font-size: 56px;
		}
	}
}

@media screen and (min-width: $breakpoint-xl) {
	.about {
		&-container {
			height: calc(700px - 6vh);
		}
	}
}
