.about {
	&-container {
		padding: 5vh;
	}

	&__title {
		@include text(600, 12px, 0.06em);

		text-align: center;
		color: $colorTextHighlight;
		text-transform: uppercase;
	}

	&__text {
		@include text(300, 16px, 0);

		margin-top: 1vh;
		max-width: 600px;

		&_highlight {
			color: $colorTextHighlight;
		}
	}

	&-images {
		padding-top: 2vh;

		display: grid;
		place-content: center center;
		gap: 3vh;
	}
}

@import './about-media.scss';
