@media screen and (min-width: $breakpoint-sm) {
	.home {
		&__title {
			font-size: 44px;
		}
	}
}

@media screen and (min-width: $breakpoint-md) {
	.home {
		&-container {
			height: 90vh;
		}
		&__title {
			max-width: 980px;
			font-size: 56px;
		}
	}
}

@media screen and (min-width: $breakpoint-xl) {
	.home {
		&-container {
			height: 94vh;
		}
	}
}
