.works {
	&-container {
		padding: 5vh;
	}

	&__title {
		@include text(600, 20px, 0);

		&_highlight {
			color: $colorTextHighlight;
		}
	}

	&-content {
		padding-top: 10vh;
	}

	&__title3 {
		@include text(600, 8px, 0.04em);

		text-transform: uppercase;
		color: $colorTextHighlight;
	}

	&__text {
		@include text(300, 16px, 0);

		&_highlight {
			color: $colorTextHighlight;
		}
	}

	&__title4 {
		@include text(300, 10px, 0);
	}

	&__btn {
		@include button(8px, 100px);

		&-img {
			height: 1vh;
		}
	}

	:is(&__btn, &__title4, &__text, &__title3) {
		margin-top: 1vh;
	}
}

@import './works-media.scss';
