section.about#about
	.container.about-container
		.about-content
			h2.about__title A bit about me
			p.about__text I am a UI/UX designer who is passionate about creating #[span.about__text_highlight beautiful and joyful digital experiences. Besides design, I love music, games and travelling.]
		.about-images 
			each value in ['hobby.png', 'hobby2.png', 'hobby3.png']
				img.about__image(src=`./img/${value}`, alt="hobby image")