section.about
	.container.about-container
		h1.about__title I’m a designer specialising in #[span.about__title_highlight UI/UX] and #[span.about__title_highlight Interaction Design]
		button.about__btn 
			img(src="./img/svg/arrow.svg", alt="arrow")