section.clients#clients
	.container.clients-container
		h2.clients__title Some of #[span.clients__title_highlight the clients I have designed for]
		ul.clients-list
			li.clients__item
				img(src="./img/svg/airbnb.svg", alt="airbnb logo")
			li.clients__item
				img(src="./img/svg/google.svg", alt="google logo")
			li.clients__item
				img(src="./img/svg/microsoft.svg", alt="microsoft logo")
			li.clients__item
				img(src="./img/svg/fedEx.svg", alt="fedEx logo")