footer.footer 
	.container.footer-container 
		h2.footer__title Get #[span.footer__title_highlight in Touch.]
		h3.footer__subtitle So that we can talk more about...
		.footer-social
			each value in ['mail.svg', 'behance.svg', 'dribbble.svg', 'linkedIn.svg']
				a(href="#") 
					img.footer__img(src=`./img/svg/${value}`, alt="social icon")
		p.footer__text Made with ❣️ by #[span.footer__text_highlight Srinivas Dezign]