section.home
	.container.home-container
		h1.home__title I’m a designer specialising in #[span.home__title_highlight UI/UX] and #[span.home__title_highlight Interaction Design]
		a(href="#clients").home__btn 
			img(src="./img/svg/arrow.svg", alt="arrow")