include ../mixins/mixins

section.works#work
	.container.works-container
		h2.works__title Selected #[span.works__title_highlight Works]

		- const arr = [{ img: 'work.png', h3: 'Real estate Template', h4: 'Website Design', flex: ''}, { img: 'work2.png', h3: 'Plant identification app', h4: 'Mobile App', flex: 'works-reverse'}, { img: 'work3.png', h3: 'Smart Home App', h4: 'Mobile App', flex: ''}, { img: 'work4.png', h3: 'Logo Animation', h4: 'Animation', flex: 'works-reverse'}]		

		each value in arr
			+work(value.img, value.h3, value.h4, value.flex)