doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="./css/main.min.css")

		//svg надо ниже
		link(rel="icon", href="./favicons/favicon-16x16.png")
		link(rel="apple-touch-icon", href="./apple-touch-icon.png")
		link(rel="manifest", href="./favicons/manifest.webmanifest")
		script(src='./js/main.js') 
		title pug
	body 
		block page