.header {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: red;
}

@media screen and (max-width: 1000px) {
	.header {
		background-color: black;
		color: aliceblue;
	}
}
