@media screen and (min-width: $breakpoint-sm) {
	.header {
		&__logo {
			height: 4vh;
		}
	}
}

@media screen and (min-width: $breakpoint-md) {
	.header {
		&-container {
			height: 10vh;
		}
	}
}

@media screen and (min-width: $breakpoint-xl) {
	.header {
		&-container {
			height: 6vh;
		}

		&__logo {
			height: 48px;
		}
	}
}

@media (hover: hover) {
	.header {
		&__link:hover {
			background: $colorActive;
			-webkit-background-clip: text;
			color: transparent;
		}
	}
}
