.header {
	background-color: $colorBackground;

	&-container {
		height: 20vh;
		padding: 0 6%;

		display: grid;
		grid-template-columns: 1fr 1fr;
		place-items: center;
	}

	&__logo {
		height: 10vw;

		justify-self: self-start;
	}

	&-list {
		justify-self: self-end;

		display: flex;
		gap: 2vw;
	}

	&__link {
		text-transform: uppercase;
		transition: 0.3s ease-in;
		position: relative;

		@include text(600, 14px, 0);

		&_active::after {
			content: '';
			height: 1px;
			width: 9px;
			background-color: $colorTextHighlight;
			position: absolute;
			bottom: -10px;
			left: 33%;
		}
	}

	:is(&__link:hover, &__link_active) {
		background: $colorActive;
		-webkit-background-clip: text;
		color: transparent;
	}
}

@import './header-media.scss';
