%text {
	font-family: 'Work Sans';
	font-style: normal;
	line-height: 150%;
}

%btn {
	position: relative;

	@extend %text;
	cursor: pointer;

	font-weight: 400;
	font-size: 16px;
	color: $colorTextHighlight;
	text-transform: uppercase;

	width: 163px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 8px 16px;
	border: 1px solid $colorText;
	border-radius: 100px;

	transition: border-color ease 0.5s;

	&::after {
		content: '';

		position: absolute;
		left: 0;
		z-index: -1;

		transition: opacity ease-out 0.5s;
		opacity: 0;

		width: 100%;
		height: 100%;
		border-radius: 100px;
		background-color: $colorActive;
	}
}
