%text {
	font-family: 'Work Sans';
	font-style: normal;
	line-height: 150%;
}

%button {
	text-transform: uppercase;

	border: 1px solid rgba(227, 228, 230, 0.55);
	border-radius: 100px;

	&:hover {
		color: $colorTextHighlight;

		background: $colorActive;
		border: 1px solid #e3e4e6;
		border-radius: 100px;
	}
}
