@mixin text($fw, $fs, $ls) {
	font-weight: $fw;
	font-size: $fs;
	letter-spacing: $ls;
	color: $colorText;

	@extend %text;
}

@mixin button($fs, $width) {
	font-size: $fs;
	width: $width;

	@extend %btn;
}
